---
import { profile } from "../../data/profile";
---

<section class="py-8">
    <h2 class="text-4xl font-bold pb-6">Sobre mi</h2>
    <div class="flex px-8 flex-col items-center justify-between lg:flex-row  border rounded-xl">
        <div class="py-8 text-xl flex flex-col justify-center gap-8 lg:w-3/4">
            {profile.about.map((paragraph) => (
                <p>{paragraph}</p>
            ))}
        </div>
        <img
            class="object-contain w-[100px] lg:w-[200px] lg:self-end "
            src="/me2.png"
            alt="Lucas Zarandón with a plant in his hand"
        />
    </div>
</section>

<style>
    img{
        filter: drop-shadow(0px 0px #63e)
    }
    span{
        font-weight: bold;
    }
</style>
