---
import ButtonSecondary from "../shared/ButtonSecondary.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
---

<section class="py-8" id="contacto">
    <h2 class="text-4xl font-bold pb-6">Contacto</h2>
    <div class="flex flex-col lg:flex-row items-start gap-8">
        <div class="flex flex-col text-xl w-full lg:w-1/2 gap-2 border rounded-xl p-8">
            <label for="nombre"> Nombre </label>
            <input
                class="border-2 rounded p-1 h-12"
                type="text"
                name="nombre"
            />
            <label for="email"> Email </label>
            <input
                class="border-2 rounded p-1 h-12"
                type="email"
                name="email"
            />
            <label for="mensaje"> Mensaje </label>
            <textarea
                class="border-2 rounded p-1 resize-none h-[200px]"
                class="h-200px resize-none"
                name="mensaje"></textarea>
        </div>
        <div class="flex flex-col w-full lg:w-1/2 gap-2 border rounded-xl p-8">
            <h3 class="text-2xl font-bold">Redes Sociales</h3>
            <div class="flex gap-4">
                <a
                    href="https://www.linkedin.com/in/lucas-zarandon/"
                    target="_blank"
                    aria-label="to linkedin lucas-zarandon"
                >
                    <ButtonSecondary>
                        <Linkedin slot="before" />
                        Linkedin
                    </ButtonSecondary>
                </a>
                <a
                    href="https://www.github.com/lucaszhh"
                    target="_blank"
                    aria-label="to Github @Lucaszhh"
                >
                    <ButtonSecondary>
                        <Github slot="before" />
                        GitHub
                    </ButtonSecondary>
                </a>
                <a
                    href="mailto:lucaszarandon24@gmail.com"
                    target="_blank"
                    aria-label="to Email"
                >
                    <ButtonSecondary>
                        <Mail slot="before" />
                        Mail
                    </ButtonSecondary>
                </a>
            </div>
        </div>
    </div>

    <style></style>
</section>
