---
import Button from "../shared/Button.astro";
---

<section class="py-8" id="contacto">
    <h2 class="text-4xl font-bold pb-6">Contacto</h2>
    <div class="flex flex-col items-start gap-8">
        <div class="flex flex-col text-md w-full gap-4 border rounded-xl p-8 py-4">
            <div class="flex flex-col md:flex-row gap-4 md:gap-8">
                <div class="flex flex-col md:w-1/2">
                    <label for="nombre"> Nombre </label>
                    <input
                        class="border-2 rounded p-1 h-12 active:border-[#63e] focus:border-[#63e]"
                        type="text"
                        name="nombre"
                    />
                </div>
                <div class="flex flex-col md:w-1/2">
                    <label for="email"> Email </label>
                    <input
                        class="border-2 rounded p-1 h-12 active:border-[#63e] focus:border-[#63e]"
                        type="email"
                        name="email"
                    />
                </div>
            </div>
            <div class="flex flex-col">
                <label for="mensaje"> Mensaje </label>
                <textarea
                    class="border-2 rounded p-1 resize-none h-[150px] active:border-[#63e] focus:border-[#63e]"
                    name="mensaje"></textarea>
            </div>
            <Button className="w-1/4 justify-center self-end">Enviar</Button>
        </div>
    </div>
</section>


