---
import ExperienceItem from "../cards/ExperienceItem.astro";
import Button from "../shared/Button.astro";
export const EXPERIENCES = [
    {
        date: "Septiembre 2024 - Presente",
        title: "Necta",
        description:
            "Lidero el desarrollo Front-End de Cumbre una plataforma educativa que la utilizan 5 mil docentes y estudiantes de 120 escuelas. Desarrollo la interfaz utilizando el Framework Next, librería de Material UI y junto con modulos de CSS cree todos los componentes únicos e interactivos de la plataforma. Trabajo funcionalidades de carga de archivos, gestor de contenidos tipo Notion, rendir examen, más de 27 tipos de actividades con autocorrección. Implementé las API de MendozaporMi en el inicio de sesión y GEI para el manejo de los alumnos, docentes y cursadas.",
        linkDescription: "Conocé Necta",
        link: "https://www.linkedin.com/company/necta-ar/posts/?feedView=all",
    },
    {
        date: "Agosto 2023 - Septiembre 2024",
        title: "Docente de Programación - Escuela de Programación",
        description:
            "Los cursos que doy cuentan con la certificación de la “Universidad Tecnológica Nacional - FRM” y “Lila Software Studio“. Actualmente estoy capacitando a personas en programación web con HTML, CSS y JavaScript, Git y Github, MySQL Workbench y React js.",
        linkDescription: "Ir al sitio web",
        link: "https://hostpage.vercel.app/",
    },
    {
        date: "Agosto 2023",
        title: "Desarrollador Web Front End - Billetera Digital",
        description:
            "Para el proyecto final de la carrera, junto con un equipo de 4 personas desarrollamos bajo la metodología scrum una billetera digital con Next.js y TypeScript. Principalmente me destaqué en la creación de la interfaz y trabajar con SSR también fui responsable de levantar servicios de Vercel para el hosting.",
        linkDescription: "Ir al sitio web",
        link: "https://digitalmoneyhouse.vercel.app/",
    },
    {
        date: "Octubre 2022 - Septiembre 2024",
        title: "Docente de Programación - Casa del Futuro y Conectar LAB Mendoza",
        description:
            "Trabaje para la municipalidad de Godoy Cruz en el área de Educación, desarrollando y dictando mis propios talleres en nivel inicial y superior sobre tecnologías web como HTML, CSS, JavaScript, Python, Java, Scratch, Godot, Git, Github, Figma. Mi éxito lo encontré en el desarrollo web front end, comunicándome de manera efectiva priorizando la empatía y la escucha activa, logré liderar equipos de hasta 20 personas.",
        linkDescription: "Ir al sitio web",
        link: "https://casa-del-futuro.vercel.app/",
    },
    {
        date: "Agosto 2022",
        title: "Desarrollador Web Front End - Booking Vehículos",
        description:
            "Al finalizar el primer año de la carrera de Certified Tech Developer junto a un equipo de 5 personas desarrollamos un sitio web sobre reservas de vehículos. Principalmente me destaqué en la creación de la UI con React, también fui responsable de levantar servicios EC2, s3 y RDS en AWS para el hosting.",
        linkDescription: "Ir al sitio web",
        link: "https://digital-booking.netlify.app/",
    },
    {
        date: "Noviembre 2021",
        title: "Desarrollador Web Front End - Casa del futuro",
        description:
            "En casa del futuro encontré mi pasión por la programación en el curso de programación con Python. Luego de terminar el curso seguí formandome como desarrollador web y junto a quien fue mi profesor desarrollamos el sitio web de Casa del futuro. Esta oportunidad de desarrollar un sitio web colaborativo, gratuito y de código abierto me iba a servir para conseguir mi primer trabajo IT.",
        linkDescription: "Ir al sitio web",
        link: "https://casadelfuturogc.netlify.app/",
    },
];
---

<section class="py-8" id="experiencia">
    <h2 class="text-4xl font-bold pb-6">Experiencia profesional</h2>
    <ol class="relative border-s border-gray-200 ml-3">
        {
            EXPERIENCES.slice(0, 3).map((experience) => (
                <li class="transition ease-in mb-10 ms-4 max-w-3xl">
                    <ExperienceItem {...experience} />
                </li>
            ))
        }
        <div id="moreExperience" class="hidden">
            {
                EXPERIENCES.slice(3, EXPERIENCES.length).map((experience) => (
                    <li class="transition ease-in mb-10 ms-4 max-w-3xl">
                        <ExperienceItem {...experience} />
                    </li>
                ))
            }
        </div>
    </ol>
    <div class="flex justify-center">
        <Button id="openExperience">VER MÁS</Button>
    </div>
</section>

<script>
    const openExperience = document.querySelector("#openExperience")
    const moreExperience = document.querySelector("#moreExperience")
    if (openExperience && moreExperience)
        openExperience.addEventListener("click", () => {
            moreExperience.classList.toggle("hidden")
            if (moreExperience.classList.contains("hidden")) {
                openExperience.innerHTML = `<Button id="openExperience" class="font-bold">VER MÁS</Button>`
                document.location = "#experiencia"
            } else {
                openExperience.innerHTML = `<Button id="openExperience"  class="font-bold">VER MENOS</Button>`
            }
        })
</script>
