---
import Github from "../icons/Github.astro"
import Linkedin from "../icons/Linkedin.astro"
import Mail from "../icons/Mail.astro"
import ButtonSecondary from "../shared/ButtonSecondary.astro"
---

<section class="w-full grid auto-rows-[192px] grid-cols-6 gap-4 py-8">
    <section
    class="drop-shadow-lg bgHero row-span-2 col-span-6 rounded-xl bg-white relative flex flex-col overflow-hidden border gap-2 justify-end p-6 dark:bg-black xl:col-span-4 lg:p-10"
    >
        <h1 class="text-3xl font-bold">LUCAS ZARAND<span class="text-[#63e] dark:text-yellow-200">Ó</span>N </h1>
        <h2 class="font-semibold text-2xl text-neutral-800 dark:text-yellow-200 -translate-y-2">FrontEnd Web Developer React</h2>
        <div class="flex gap-4">
            <a
                href={"https://www.github.com/lucaszhh"}
                target="_blank"
                aria-label="to Github @Lucaszhh"
            >
                <ButtonSecondary>
                    <Github slot="before" />
                    GitHub
                </ButtonSecondary>
            </a>
            <a
                href={"https://www.aedin.com/in/lucas-zarandon/"}
                target="_blank"
                aria-label="to aedin lucas-zarandon"
            >
                <ButtonSecondary>
                    <Linkedin slot="before" />
                    Linkedin
                </ButtonSecondary>
            </a>
            <a
                href={"mailto:lucaszarandon24@gmail.com"}
                target="_blank"
                aria-label="to Email lucaszarandon24@gmail.com"
            >
                <ButtonSecondary>
                    <Mail slot="before" />
                    Mail
                </ButtonSecondary>
            </a>
        </div>
    </section>
    <section
        class="drop-shadow-lg row-span-1 col-span-6 rounded-xl bg-white relative flex flex-col overflow-hidden border gap-2 p-4 dark:bg-black xl:col-span-2 lg:px-8"
    >
        <section class="flex flex-col gap-4 justify-center h-full">
            <h2 class="text-2xl font-bold">Sobre mí</h2>
            <p class="font-semibold">
                Enseño a programar - <span class="text-[#63e]">Desarrollador Web FrontEnd</span> - Base de datos - <a class="text-[#63e] hover:underline" href="https://mycreativetype.com/">Innovador</a> - Videojuegos
            </p>
        </section>
    </section>
    <section
        class="drop-shadow-lg p-6 row-span-1 col-span-3 rounded-xl bg-white dark:bg-black overflow-hidden border xl:col-span-1 flex items-center justify-center"
    >
        <div>
            <p class="font-semibold text-center">Mendoza, Argentina</p>
        </div>
    </section>
    <section
        class="drop-shadow-lg row-span-1 col-span-3 rounded-xl bg-white relative flex flex-col overflow-hidden border gap-2 items-center justify-center dark:bg-black xl:col-span-1"
    >
        <h2 class="text-6xl font-bold">+3</h2>
        <p class="font-semibold text-xs">Años de experiencia</p>
    </section>
</section>
