---
import Avatar from "../shared/Avatar.astro";
import Download from "../icons/Download.astro";
import Moon from "../icons/Moon.astro";
import Button from "../shared/Button.astro";
import Sun from "../icons/Sun.astro";
const navItems = [
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
/*     {
        title: "Contacto",
        label: "contacto",
        url: "/#contacto",
    }, */
];
---

<header class="container flex flex-col justify-center items-center w-full">
    <section
        class="navegation fixed top-4 z-10 flex items-center justify-center  mx-auto mt-4 "
    >
        <nav
            class="flex px-3 text-sm font-medium rounded-full  justify-center items-center"
        >
            {
                navItems.map((link) => (
                    <a
                        class="relative block px-2 py-2 transition hover:text-[#63e] dark:hover:text-yellow-200  "
                        aria-label={link.label}
                        href={link.url}
                    >
                        {link.title}
                    </a>
                ))
            }
        </nav>
    </section>
    <nav class="flex w-full my-4 text-xl justify-between">
        <Avatar />
        <div class="flex items-center justify-center gap-2">
            <button
                data-switch-theme
                class="flex justify-between items-center border-2 font-medium bg-white px-3 py-2 rounded-lg text-black gap-2 active:scale-[1.1] transition-transform duration-300"
            >
                <Moon className="dark:hidden" />
                <Sun className="dark:flex hidden" />
            </button>

            <a href="/LucasZarandon.pdf" download="/LucasZarandon.pdf">
                <Button className="text-primary">
                    <Download slot="before" />
                    Descargar CV
                </Button>
            </a>
        </div>
    </nav>
</header>


<style>
    nav {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    nav {
        @apply dark:bg-gray-800/90 bg-white/50;
    }

    @keyframes nav-shadown {
        0% {
            @apply dark:bg-gray-800/0 bg-white/0;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }

    @media (max-width: 1000px) {
        .navegation{
            display: none;
        }
    }
</style>
